<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div ng-cloak>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Contacts">
                            <md-content class="md-padding">
                                <!--div ui-view=""></div-->
                                <div class="row">
                                    <div class="col-lg-6 rcorners2">
                                        <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-4" ng-repeat='contact in contacts'>
                                            <li ng-click='display($index)'><a href="#">{{contact.fname + ' ' + contact.lname}}</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 rcorners1" ng-show='clicked'>
                                        <ul class="info">Name: {{info.fname +' ' +info.lname}}</ul>
                                        <ul class="info">Phone No: {{info.phNo}}</ul>
                                        <ul class="info">Email Id: {{info.email}}</ul>
                                        <md-button class="md-primary md-raised" ng-click="showConfirm($event)">
                                            Send OTP
                                        </md-button>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="Messages" ng-click='listMessage()'>
                            <md-content class="md-padding">
                                <div class="col-lg-4" ng-repeat='mes in messageList'>
                                <div class="rcorners1">
                                  <ul class="info">Name: {{mes.sentTo.fname +' ' +mes.sentTo.lname}}</ul>
                                    <ul class="info">Phone No: {{mes.sentTo.phNo}}</ul>
                                    <ul class="info">Email Id: {{mes.sentTo.email}}</ul>
                                    <ul class="info">Sent OTP: {{mes.OTP}}</ul>
                                   <ul class="info">Sent Time: {{mes.lastModified|date}}</ul>
                                </div>
                                    
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="Create Contact" '>
                            <md-content class="md-padding">
                                    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.fname.$valid && submitted,
                                            'has-error': form.fname.$invalid && submitted }">
          <label>First Name</label>

          <input type="text" name="fname" class="form-control" ng-model="user.fname"
                 required/>
          <p class="help-block" ng-show="form.fname.$error.required && submitted">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.lname.$valid && submitted,
                                            'has-error': form.lname.$invalid && submitted }">
          <label>Last Name</label>

          <input type="text" name="lname" class="form-control" ng-model="user.lname"
                 required/>
          <p class="help-block" ng-show="form.lname.$error.required && submitted">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label>Ph No</label>

          <input type="nuber" name="phNo" class="form-control" ng-model="user.phNo"
                 ng-minlength="10" ng-maxlength="10" 
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.phNo.$error.minlength || form.phNo.$error.required) && submitted">
            Ph No must incorrect.
          </p>
          <p class="help-block" ng-show="form.phNo.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Submit
          </button>
        </div>

      </form>
    </div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>
    </div>
</div>
