
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }
    .rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    }
    .rcorners1 {
    	margin-right: 42px;
        margin-left: 5px;
    border-radius: 15px;
    border: 2px solid #73AD71;
    width: 300px;
    height: 160px; 
    }
    .info{
    	margin-top: 10px;
    }